body, html{
  height: 100%;
  background: #FAFAFA;
}

.receptacle-background{
  background: #FAFAFA;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  width: auto;
}

.receptacle-init {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 795px;
  height: 500px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 5px;
  margin-left: 360px;
  margin-right: auto;
  box-shadow: 5px 0px 52px 52px grey;
  background: white;
  border: 2px solid black;
}

.rec-init{
  width: 390px;
  height: 490px;
  margin: 0px;
  border: 1px solid black;
}


h2[id= "about-details"]{
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
  color: black;
  background-color: #b8860b;
  line-height: normal;
}


p[id = "about-details"]{
  margin-top: -15px;
  margin-left: 20px;
  text-align: left;
}
