footer  {
  margin-top: 200px;
}
.title {
  background-color: #b8860b;
  padding-top: 1px;
  border: 3px solid #303030;
}

form {
  margin-top: 20px;
  background-color: white;
  border: 3px solid #303030;
  width: 75%;
  margin-left: 170px;
  text-align: center;
}

.receptacle-init {
  margin-top: 15px;
}

.button, .button{
  width: 15%;
  text-decoration: none;
  padding:15px 20px;
  margin-top: : 10px;
  margin-bottom: 10px;
  background-color: #b8860b;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
