footer  {
  margin-top: 290px;
}
.receptacle-init img {
  width: 100%;
  height: 516px;
  position: center fixed;
  z-index: 0;
  }

.rec-init h2 {
  margin-top: -400px;
  margin-left: 550px;
}

.receptacle-init {
  border: 2px solid yellow;
}
