.nav-recepticle{
  height: 53px;
  background-color: #303030;
  overflow: hidden;
}

.navigalto a{
  float: left;
  color: black;
  text-align: center;
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  font-family: serif;
}

.navigalto a:hover {
  color: black;
  border-bottom: thick solid red;
}

.navigalto {
  overflow: hidden;
  background-color: #303030;
  font-family: serif;
}

.navigbasso {
  float: left;
  overflow: hidden;
}

.navigbasso .navigbassobtn {
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  padding: 14px 19px;
  font: inherit;
  background-color: inherit;
  margin: 0px;
}

.navigbasso-text {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 10px 10px 10px 10px grey;
  z-index: 1;
}

.navigbasso-text a {
  float: none;
  color: black;
  padding: 15px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navigbasso:hover .navigbasso-text{
  display: block;
}

.navigbasso button:hover{
  border-bottom: thick solid red;
}
