body, html{
  height: 100%;
  background: #FAFAFA;
}

.receptacle-init{
  margin-top: 10px;
}
.receptacle-background{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  background: #FAFAFA;
}

.rec-init-0{
  margin: 5px;
  width: 100%;

}

.rec-init-0 h4{
  border: 4px solid #303030;
  margin-bottom: -10px;
  margin-left: -5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -8px;
  border: 3px solid black;
  background-color: #fa1a1a;
}

.one{
  width: 50%;
  margin-right: -5px;
}

.two {
  width: 50%;
  float: right;
  margin-left: 0px;
  margin-top: -313px;
}
#pi, #contact, #residential,#press, #pid, #memo{
  border: 4px solid black;
  display: -webkit-flex;
  display: flex; /*dispay inline flex two display features>*/
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: auto;
  margin-right: -3px;
  height: 150px;
}
#pi, #contact, #residential{
  float: left;
}
#pid, #memo, #press{
  float: right;
}

.form-title {
  background-color: #303030;
  color: #fa1a1a;
  width: 100%;
  height: 40px;
  border-bottom: 3px solid #303030;
}

.one .rec-init{
  padding-left: 40px;
  padding-right: 60px;
  border: 3px solid white;
}

.two .rec-init{
  padding-left: 40px;
  padding-right: 60px;
  border: 3px solid white;
}

#pi_label {
  font-weight: bold;
  text-decoration: none;
}

#myBtn, #myBtn2, #myBtn3{
  color: black;
  width: 55%;
  margin-top: : 10px;
  margin-bottom: 10px;
  background-color: #FF1A1A;
  color: black;
  border-radius: 4px;
  border: 3px solid black;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 5px;
}
